---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="INDEX">
  <div class="theme-field-unit">
    <h1 class="glow-text flicker"> Cestello's Portfolio </h1>
    <p class="meta-data glow-text flicker">aaaa</p>
  </div>
</BaseLayout>
