:root {
  --bg-color: #1a1812;       /* Sfondo carbone/ambra scuro */
  --text-main: #ff9d00;      /* Ambra acceso */
  --text-dim: #7c5e26;       /* Ambra spento per dettagli */
  --accent: #ffb042;         /* Highlight */
  
  --border: 2px solid #ff9d00;
  --font-main: 'Share Tech Mono', monospace;
  
  --glow: 0 0 10px rgba(255, 157, 0, 0.4), 0 0 2px rgba(255, 157, 0, 0.2);
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-main);
  /* L'effetto scanline lo gestiremo come overlay nel Layout */
}

/* glow */
.glow-text {
  text-shadow: var(--glow);
}

/* flicker */
.theme-field-unit #app-root {
    animation: flicker 0.15s infinite;
}